# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# Atollic
.metadata/

# STM32CubeIDE
game_server/.cproject
game_server/.project
game_server/.settings/language.settings.xml
game_server/Debug/game_server.list
game_server/game_server.elf.launch
game_server/.cproject_org
game_server/.project_org
game_server/Debug/Drivers/
game_server/Debug/Middlewares/
game_server/Debug/Src/
game_server/Debug/makefile
game_server/Debug/objects.list
game_server/Debug/objects.mk
game_server/Debug/sources.mk
game_server/Debug/startup/
game_server/game_server_converter.log